	<section data-ng-controller="HomeController">
		<div class="jumbotron text-center">
			<div class="row">
				<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
					<img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo.png" />
				</div>
			</div>
			<br>
			<div class="row">
				<p class="lead">
					_How do you beat today?
				</p>
			</div>


		</div>
		<div>
			<div class="row">
				<div class="col-md-12 tagValue"> heart@bit>
				<span ng-controller="IncreasingInputController as ic">
				<input type="text" ng-model="ic.inputData" ng-change="ic.increaseSize()" ng-trim="false" style="width: 5px;" />
				</span><blink>|</blink>
					<!--  input type="hidden" id="dataValue"-->
				</div>
			</div>
		</div>

		<div>
			<div class="row" ng-controller="DataReaderController as drc">
				{{example}}
			</div>
		</div>
		<footer style="float: right; color: white">Ingeniously made in Italy. Peace, the heartbit Team.</footer>
	</section>
